@import '../../styles/settings.scss';

.component {
  padding: $base-size ;
}
  
.subtitle {
  padding: 0 0 ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}
